* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Regular", sans-serif;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
body {
  overflow-x: hidden;
  font-family: "Roboto Regular", sans-serif;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-image: url(../../images/background-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  white-space: nowrap;
}
.navbar__menu {
  display: flex;
  align-items: center;
  column-gap: 36px;
}
.navbar__menu__link {
  text-decoration: none;
  color: #8794ba;
}
.navbar__login {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.navbar__login__sign-in {
  color: #8794ba;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  border: none;
  background: none;
}
.navbar__login__sign-up {
  color: #8794ba;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  background: transparent;
  padding: 10.5px 53px;
  border-radius: 68px;
  border: 1px solid #8794ba;
  transition: 0.3s;
}
.navbar__login__sign-up:hover {
  background-color: #ef2a82;
  border: 1px solid transparent;
  color: #ffffff;
}

.remove::before {
  display: none;
}

.hamburger::before {
  display: none;
}

.hero__info {
  display: flex;
  justify-content: space-between;
}
.hero__info__left {
  max-width: 560px;
  width: 100%;
  color: #ffffff;
  padding-top: 152px;
}
.hero__info__left__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  padding-bottom: 15px;
}
.hero__info__left__text {
  color: #8794ba;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 49px;
}
.hero__info__left__btn {
  padding: 15px 80px;
}
.hero__info__img {
  position: absolute;
  right: 0;
}
.hero__info__mobile {
  display: none;
}

.show {
  transform: translateX(120%);
}

@media (max-width: 835px) {
  header {
    background-image: none;
    background-color: #172755;
  }
  nav {
    box-shadow: 0px 7px 22px 2px rgba(0, 0, 0, 0.237);
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .navbar__menu {
    position: absolute;
    top: 85px;
    right: 0;
    height: 300px;
    background-image: url(../../images/car.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    row-gap: 20px;
    transition: 1s;
  }
  .navbar__menu__link {
    color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
  }
  .navbar__menu__link:hover {
    background-color: rgba(23, 38, 85, 0.7764705882);
    padding: 10px 20px;
    border-radius: 30px;
  }
  .navbar__login {
    justify-content: space-between;
    column-gap: 18px;
    align-items: right;
  }
  .navbar__login__sign-up {
    display: none;
  }
  .hero__info {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .hero__info__left {
    padding-top: 26px;
  }
  .hero__info__left__title {
    font-size: 31px;
    line-height: 37px;
  }
  .hero__info__left__text {
    font-size: 18px;
    padding-bottom: 14px;
  }
  .hero__info__left__btn {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .hero__info__img {
    display: none;
  }
  .hero__info__mobile {
    display: block;
    padding-top: 4px;
  }
  .hamburger::before {
    display: block;
    color: #ffffff;
    font-size: 24px;
  }
  .remove::before {
    display: block;
    color: #ffffff;
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  .hero__info__left__title {
    font-size: 10px;
  }
  .hero__info__left__text {
    font-size: 8px;
  }
}
.section-1 {
  width: 100%;
  margin-bottom: 100px;
}
.section-1__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.88px;
  text-align: center;
  color: #172755;
}
.section-1__text {
  text-align: center;
}
.section-1__card {
  display: flex;
  column-gap: 20px;
}
.section-1__card__card-1 {
  width: 380px;
  text-align: center;
}

@media (max-width: 835px) {
  .section-1 {
    width: 100vw;
    height: 100vh;
  }
  .section-1__title {
    text-align: left;
  }
  .section-1__text {
    text-align: left;
  }
  .section-1__card {
    margin-top: 50px;
    display: block;
  }
  .section-1__card__card-1 {
    text-align: left;
    display: flex;
  }
  .section-1__card__card-1__img {
    margin-right: 20px;
  }
}
.section-1__card__card-1__img {
  width: 60px;
  height: 60px;
}

.section-2 {
  width: 100%;
  margin-top: 100px;
  display: flex;
  column-gap: 100px;
}
.section-2__left {
  width: 480px;
}
.section-2__left__title {
  text-align: start;
}
.section-2__left__text {
  margin-top: 30px;
}
.section-2__img-mobile {
  display: none;
}

@media (max-width: 835px) {
  .section-2 {
    display: block;
  }
  .section-2__left {
    width: 400px;
  }
  .section-2__img-desktop {
    display: none;
  }
  .section-2__img-mobile {
    display: block;
  }
}
footer {
  background-color: rgba(5, 37, 127, 0.9215686275);
  margin-top: 200px;
}

.footer-section {
  width: 100%;
  padding-top: 200px;
}
.footer-section__title {
  color: #ffffff;
}
.footer-section__text {
  text-align: center;
}
.footer-section__cards {
  display: flex;
  column-gap: 80px;
}
.footer-section__cards__card-1 {
  width: 340px;
  text-align: center;
  padding: 50px 61px 70px 59px;
  background-color: #0F1F4B;
  border-radius: 30px;
}
.footer-section__cards__card-1__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer-section__cards__card-1__text {
  border-bottom: 1px solid #D3D9E9;
}
.footer-section__cards__card-1__sub {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.16px;
  color: #D3D9E9;
}
.footer-section__cards__card-1__dollar {
  font-weight: 700;
  font-size: 60px;
  line-height: 70.31px;
  color: #D3D9E9;
}

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 69px 0;
}
.footer__icons {
  display: flex;
  column-gap: 40px;
}
.footer__icons__icon {
  color: #ffffff;
  font-size: 30px;
}

@media (max-width: 835px) {
  .footer-section__cards {
    display: block;
  }
  .footer-section__cards__card-1 {
    margin-top: 50px;
  }
  .footer__menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */