header {
  background-image: url(../../images/background-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  white-space: nowrap;
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 36px;
    &__link {
      text-decoration: none;
      color: $menu-color;
    }
  }
  &__login {
    display: flex;
    align-items: center;
    column-gap: 40px;
    &__sign-in {
      color: $menu-color;
      font: {
        weight: 400;
        size: 16px;
      }
      line-height: 18.75px;
      border: none;
      background: none;
    }
    &__sign-up {
      color: $menu-color;
      font: {
        weight: 400;
        size: 16px;
      }
      line-height: 18.75px;
      background: transparent;
      padding: 10.5px 53px;
      border-radius: 68px;
      border: 1px solid $menu-color;
      transition: 0.3s;
    }
    &__sign-up:hover {
      background-color: $btn-color;
      border: 1px solid transparent;
      color: $white-color;
    }
  }
}
.remove::before {
  display: none;
}
.hamburger::before {
  display: none;
}

.hero {
  &__info {
    display: flex;
    justify-content: space-between;
    &__left {
      max-width: 560px;
      width: 100%;
      color: $white-color;
      padding-top: 152px;
      &__title {
        font: {
          weight: 700;
          size: 50px;
        }
        line-height: 60px;
        padding-bottom: 15px;
      }
      &__text {
        color: $menu-color;
        font: {
          weight: 400;
          size: 18px;
        }
        line-height: 27px;
        padding-bottom: 49px;
      }
      &__btn {
        padding: 15px 80px;
      }
    }
    &__img {
      position: absolute;
      right: 0;
    }
    &__mobile {
      display: none;
    }
  }
}

.show {
  transform: translateX(120%);
}
@media (max-width: 835px) {
  header {
    background-image: none;
    background-color: #172755;
  }
  nav {
    box-shadow: 0px 7px 22px 2px rgba(0, 0, 0, 0.237);
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    &__menu {
      position: absolute;
      top: 85px;
      right: 0;
      height: 300px;
      background-image: url(../../images/car.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      border-radius: 10px;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      row-gap: 20px;
      transition: 1s;
      &__link {
        color: $white-color;
        transition: 0.2s;
        cursor: pointer;
      }
      &__link:hover {
        background-color: #172655c6;
        padding: 10px 20px;
        border-radius: 30px;
      }
    }
    &__login {
      justify-content: space-between;
      column-gap: 18px;
      align-items: right;
      &__sign-up {
        display: none;
      }
    }
  }

  .hero {
    &__info {
      flex-direction: column-reverse;
      justify-content: center;
      &__left {
        padding-top: 26px;
        &__title {
          font-size: 31px;
          line-height: 37px;
        }
        &__text {
          font-size: 18px;
          padding-bottom: 14px;
        }
        &__btn {
          display: block;
          width: 100%;
          margin: 0 auto;
        }
      }
      &__img {
        display: none;
      }
      &__mobile {
        display: block;
        padding-top: 4px;
      }
    }
  }
  .hamburger::before {
    display: block;
    color: $white-color;
    font-size: 24px;
  }

  .remove::before {
    display: block;
    color: $white-color;
    font-size: 24px;
  }
}

@media (max-width: 350px) {
  .hero {
    &__info {
      &__left {
        &__title {
          font-size: 10px;
        }
        &__text {
          font-size: 8px;
        }
      }
    }
  }
}
